@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    padding: 11px 27px;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.3s;

    background-color: #633cff;
    color: #ffffff;
  }

  .btn-primary:hover,
  .btn-primary:active {
    background-color: #beadff;
  }

  .btn-secondary {
    padding: 11px 27px;
    border-radius: 8px;

    box-shadow: inset 0 2px #beadff, inset 0 -2px #beadff, inset 2px 0 #beadff,
      inset -2px 0 #beadff;

    cursor: pointer;
    transition: all 0.3s;

    color: #633cff;

    /* Faz com que pressionar o botão com o mouse não selecione um quadrado, mas o elemento arredondado */
    overflow: hidden;
  }
  .btn-secondary:hover,
  .btn-secondary:active {
    background-color: #efebff;
  }

  .text-field {
    padding: 12px 16px;
    background-color: #ffffff;

    border-radius: 12px;
    border: 1px solid #d9d9d9;

    margin-top: 0.25rem;

    transition: all 0.3s;
  }
  .text-field:focus {
    outline: none;
    border: 1px solid #633cff;
    box-shadow: 0px 0px 17px -8px #633cff;
  }
}
