.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mockup {
  margin: 1rem;

  position: relative;
}

.mockup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 278px;
  left: 35px;

  width: 237px;
  height: 44px;

  padding: 11px 16px;

  border-radius: 8px;
  z-index: 100;
}

.mockup-item img {
  height: 20px;
  width: 20px;
}

@media (max-width: 1024px) {
  .display {
    display: none;
  }
}
